<template>
  <div id="app">
    <LoginForm msg="Welcome to Your Vue.js App"/>
  </div>
</template>

<script>
import LoginForm from './components/LoginForm.vue'

export default {
  name: 'app',
  components: {
    LoginForm
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  padding-top: 20px;

  height: 100vh;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));
}
</style>
